

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Имя и номер</h4>
    </div>
    <div class="modal-body">
        <p>@ViewBag.MessageName</p>
        <p>@ViewBag.MessageNumber</p>
    </div>
</div>

